header {
  width: 100%;
  height: 80px;
  background: gray;
  margin-bottom: 40px;
}

/*div {
  border: 1px solid red;
}*/
.jumbotron {
  background: #005C97; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #005C97 , #363795); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #005C97 , #363795); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.jumbotv {
  padding-bottom: 10%;
  padding-top: 10%;
  height: 100%;
  text-align: center;
  border-radius: 15px;
  background: #00C9FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00C9FF , #92FE9D); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00C9FF , #92FE9D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.circle-top {
  height: 150px;
  width: 150px;
  background-color: blue;
  border-radius: 100%;
  /*margin-left: 30%;*/
}

.circle-bottom {
  height: 150px;
  width: 150px;
  background-color: yellow;
  border-radius: 100%;
  margin-left: auto;
}

.main-content {
  padding-top: 30px;
  padding-bottom: 50px;
  background: #fc00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fc00ff , #00dbde); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fc00ff , #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h2 {
  text-align: center;
}

.language-row {
  /*min-height: 300px;*/
  padding-left: 10%;
  padding-right: 10%;
}

.language {
  height: 100%;

}

.inner-language {
  margin-top: 10%;
  margin-bottom: 5%;
  padding-bottom: 10%;
  padding-top: 10%;
  height: 100%;
  background-color: white;
  text-align: center;
}

.circle {
  height: 100px;
  width: 100px;
  background-color: blue;
  border-radius: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.language-name {
  font-size: 50pt;
}

.inner-language:hover {
  background-color: lightblue;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
}
